---
import Chart from '../../components/Chart.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>ARIMA Time Series Forecasting</title>
	</head>
	<body>
		<h1>ARIMA Time Series Forecasting</h1>
		<Chart />
	</body>
</html>
