---
import Layout from '../layouts/Layout.astro';
import Calendar from '../components/Calendar.astro';
---

<Layout title="AI Calendar Daily Briefing Reminders">
	<main>
		<h1>AI Calendar Daily Briefing Reminders</h1>
		<Calendar />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
