---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mallorca Bike Trip Planner</title>
	</head>
	<body>
		<h1>Mallorca Bike Trip Planner</h1>
        <p>Plan your next bike trip in Mallorca!</p>
        <div id="map" style="height: 400px; border: 1px solid black;">
            <p style="text-align: center; padding-top: 180px;">Map placeholder</p>
        </div>
	</body>
</html>
